<div id="fh5co-page">

  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
  <aside id="fh5co-aside" role="complementary" class="border">

    <h1 id="fh5co-logo"><a href="/"><img src="/images/logo.jpg" style="width:200px;height:200px" alt="Worker In Street"></a></h1>
    <p style="color:green;margin-left:30px">Worker in Street</p>
    <nav id="fh5co-main-menu" role="navigation">
      <ul>

        {{#if Dashboard}}
        <li ><a href="/" style="cursor:pointer">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/workers/dashboard">Dashboard</a></li>
        <li class="fh5co-active"><a href="">About Us</a></li>
        <li><a href="/contactus">Contact Us</a></li>
        {{else}}
        <li ><a href="/" style="cursor:pointer">Home</a></li>

        <li><a href="/services">Services</a></li>
        <li><a href="/registration">Registration</a></li>
        <li><a href="/login">Login</a></li>

        <li class="fh5co-active"><a href="">About Us</a></li>
        <li ><a href="/contactus">Contact Us</a></li>
        {{/if}}


      </ul>
    </nav>


  </aside>

<div id="fh5co-main">
  {{#if error}}
  <strong style="font-size:30px;text-align:center">{{error}}</strong>
  {{/if}}
<table class="table table-bordered table-striped" >
{{#each search_result}}
<td class="col-lg-12 col-sm-12 col-md-12">
<img src="/uploads/{{photo}}" style="height:200px;width:200px" />
<br>
<strong>Username</strong><h4>{{username}}</h4>
<strong>Email</strong><h4>{{email}}</h4>
<strong>Contact No</strong><h4>{{contactno}}</h4>
<strong>Address</strong><h4>{{full_address}}</h4>
<strong>Type</strong><h4>{{type}}</h4>
<strong>Description</strong><h5>{{description}}</h5>
</td>
{{/each}}

</tr>
</table>
  </div>
</div>
